.pblock {
position:relative; 
left:19%; 
width:62%; 
background:rgba(0,0,0,0.4); 
color:#c8c8c8; 
border:1px dashed #333333; 
margin-top:1%;
margin-bottom:1%;
}
.wblock {
position:relative; 
left:7%; 
width:86%; 
color:#c8c8c8; 
background:rgba(0,0,0,0.3); 
border:1px dashed #333333; 
margin-top:1%;
margin-bottom:1%;
}
.rblock {
position:relative; 
left:31%; 
width:62%; 
color:#c8c8c8; 
background:rgba(0,0,0,0.3); 
border:1px dashed #333333; 
margin-top:1%;
margin-bottom:1%;
}
.session {
background: #666666;
margin: 3px;
padding: 3px;
color: #ffffff;
}
.pinner {
margin: 1rem;
opacity: 1;
}

a {
color:#c8c7ac;
}
a:visited {
color:#a8a79c;
}

.greyout {
  color: #888888;
}
.hilight, .hilite, strong {
  color: #bf9f46;
}

h1, h2, h3 {
    font-family: "SpectralSC";
    font-variant: small-caps;
    text-align: center;
}
h1 { font-size:30px; }
h2 { font-size:26px; color: #eeeeee; }
h3 { font-size:20px; }

dt {
  color: #BF9F46;
  float: left;
  clear: left;
}
dd {
  margin-left: 6em;
}
span.pattern {
  background: #bbbbdd;
}
span.sourcetxt {
  background: #cccccc;
}
span.matched {
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
}
div.Scallo {
  background:#ADC8D9;
  border: 4px solid #8FBCD9;
  margin: 10px;
}
div.ScalloHd {
  background:#8FBCD9;
}
span.shell {
margin-left: 2px;
margin-right: 2px;
}

.verbatim {
  background:    white;
  white-space:   pre;
  color:         #000000;
  padding:       5px;
  border-radius: 10px;
  border: 2px solid black;
  font-family:   'Inconsolata';
  font-size:     28px;
}

.shell {
  padding:    0.25em 1em;
  line-height: 1.5;
  font-family:   'Inconsolata';
  font-size: 18px;
  white-space: pre;
  overflow: auto;
  color: #7aee3c;
  background-color: #141a13;
  opacity: 0.7;
}
.code {
  white-space:   pre;
  color:         #0d56a6;
  padding:       5px;
  border-radius: 10px;
  font-family:   'Inconsolata';
  font-size:     18px;
  line-height:  1.5;
  color:      #72b2f9;
  background-color: #101a26;
  opacity: 0.7;
  overflow: auto;
}

dl {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.75em;
}

ol {                  /* Make top-level flush with left edge of title */
  padding-left: 0px;
  margin-left: 1.1em;
  -webkit-margin-start: 1.3em;
  width: 100%;       /* Fix to give right margin */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul {
  padding-left: 0px;
  margin-left: 1em;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul li {
  list-style:none; /* if you’re not already using a reset */
  font-size:1em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  text-indent:-1em;
  width: 95%;
}
ol li {
  width: 95%;
}

ul li:before {
  color:#989898;
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:2em;
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.15em;
  line-height:0.65; /* Compensate for over-sized bullet character */
}

.quoteinside {
font-size: 24px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
padding-top: 0;
line-height: 1.4;
display: inline-block;
color: #ffffff;
background: black;
font-family: 'Rasa';
/*width:50%;*/
}
.quotebegin {
display: inline-block;
font-size: 120px;
left: -0.65em;
top: 0.25em;
color: white;
width: 1px;
vertical-align: top;
position: relative;
line-height: 24px;
}
.quoteend {
position: relative;
display: inline-block;
font-size: 120px;
line-height: 24px;
left: 0.1em;
top: 0.55em;
color: white;
width: 1px;
height: 1px;
}

div.bibitem {
  background: #F4DD9B;
  width: 100%;
  border-radius: 0.25em;
}

div.bibitem table {
  font-size: 24px;
}

table.allborders {
  border-collapse: collapse;
  margin: 0.25rem;
}

table.allborders td {
  border: 1px solid black;
  padding: 0.25rem;
}

tr.underrow td {
  border-bottom: 1pt solid #BF9F46;
}

@font-face {
    font-family: 'basic';
    src: url('Basic-Regular.ttf');
}

@font-face {
  font-family: 'sourcesans';
  src: url('SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'sourcecodepro';
  src: url('SourceCodePro-Medium.otf');
}

@font-face {
  font-family: 'SpectralSC';
  src: url('SpectralSC-Medium.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'ArbutusSlab';
  src: url('ArbutusSlab-Regular.ttf');
}

@font-face {
  font-family: 'Rasa';
  src: url('Rasa-Regular.ttf');
}

body{
font-family: 'ArbutusSlab';
font-size: 18px;
line-height: 1.3;
text-align: justify;
text-justify: inter-word;
margin: 0;
padding: 0;
background-image: url(/awmblog/graymaster2.jpg);
      }


table {
font-family: 'ArbutusSlab';
line-height: 1.3;
  font-size: 18px;
color:#c8c8c8; 
width:100%;
}

